<%- partial('_partial/head') %>
<body>
  <div class="container page-psychology">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="banner-wrapper-application"></div>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/foot') %>
  </div>
</body>
</html>
