<%- partial('_partial/slider') %>
<div class="wrapper section2">
  <ul class="three-data">
    <li>
      <img src="/css/images/doctor.svg" alt="">
      <p class="num">853</p>
      <p class="name">合作医生</p>
    </li>
    <li>
      <img src="/css/images/clothes.svg" alt="">
      <p class="num">214</p>
      <p class="name">健康管理师</p>
    </li>
    <li>
      <img src="/css/images/sick.svg" alt="">
      <p class="num">12670</p>
      <p class="name">管理病患</p>
    </li>
  </ul>
  <p class="slogen">大数据与人工智能助力精准医疗</p>
  <p class="sub-slogen">大数据与人工智能助力精准医疗</p>
  <div class="btn-wrap">
    <a class="btn btn-red">APP下载</a>
    <a class="btn btn-default">查看详情</a>
  </div>
</div>

<div class="section3">
  <p>国仁医学健康中心</p>
  <div class="btn-wrap">
    <a class="btn btn-red">查看详情</a>
  </div>
</div>

<div class="wrapper section4">
  <h3>合作单位</h3>
  <ul>
     <li>
        <img src="/css/images/post-tel-uni.jpg" alt="北京邮电大学">
        <p>北京邮电大学</p>
      </li>
      <li>
        <img src="/css/images/chinese-medical.jpg" alt="中国医疗保健国际交流促进会">
        <p>中国医疗保健国际交流促进会</p>
      </li>
      <li>
        <img src="/css/images/chaosuanzhongxin.jpg" alt="国家超算中心">
        <p>国家超算中心</p>
      </li>
  </ul>
</div>

<div class="section5">
  <div class="wrapper">
    <div>
      <h3>为什么选择我们</h3>
      <h3>为什么选择我们</h3>
    </div>
    <div class="choose-area">
      <ul>
        <li>丰富的医疗资源，立足北京、上海等一二线城市三甲医院，携手医促会，辐射全国各地市</li>
        <li>国家级云平台，为个人数据的存储使用以及安全提供保障</li>
        <li>成熟的软件系统，通过APP，可穿戴设备等实现24小时个人健康管理</li>
      </ul>
    </div>
    <div class="threestages">
      <img  src="/css/images/threestages.jpg"> 
    </div>
  </div>
</div>
