<%- partial('_partial/head') %>
<body>
  <div class="container page-partner">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="banner-wrapper">
      <div class="wrapper">
        <div class="caption">
          <h3>合作伙伴</h3>
          <span>Partner</span>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="section">
        <ul class="partnet-names">
          <li class="selected">
            北京邮电大学
          </li>
          <li>
            中国医疗保健国际交流促进会
          </li>
          <li>
            国家超级计算中心
          </li>
        </ul>
        <ul class="partnet-descs">
          <li class="selected">
            <div class="img-wrapper">
              <img src="/css/images/post-tel-uni.jpg">
            </div>
            <p>北京邮电大学（Beijing University of Posts and Telecommunications），简称北邮，是中华人民共和国教育部直属，工业和信息化部共建的一所以信息科技为特色，工学门类为主体，管理学、文学、理学等多个学科门类协调发展的全国重点大学，是北京高科大学联盟成员高校。系国家“211工程”、“985工程优势学科创新平台”项目重点建设，列入首批“卓越计划”、“111计划”。被誉为“中国信息科技人才的摇篮”。</p>
          </li>
          <li>
            <div class="img-wrapper">
              <img src="/css/images/chinese-medical.jpg">
            </div>
            <p>中国医疗保健国际交流促进会（以下简称“本会”），英文名称为China International Exchange and Promotive Association for Medical and Health Care，英文缩写CPAM。成立于1987年，是卫生部业务主管、民政部登记注册的，是全国从事医疗保健科技工作者自愿组成的、依法登记成立的学术性、专业性、非营利性社会组织。是党和政府联系医疗保健科技工作者及医疗保健企事业单位的桥梁和纽带；是促进发展医疗保健事业的重要社会力量。</p>
          </li>
          <li>
            <div class="img-wrapper">
              <img src="/css/images/chaosuanzhongxin.jpg">
            </div>
            <p>中国国家超级计算中心，是指由中国兴建、部署有千万亿次高效能计算机的超级计算中心。高性能计算的主要应用领域包括：石油地震勘探数据处理、生物医药、新材料新能源、高端装备设计与仿真、动漫与影视渲染、空气动力学、流体力学、天气预报、气候预测、海洋环境模拟分析等等。</p>
          </li>
        </ul>
        <script>
          $('.partnet-names li').click(function(){
            $('.partnet-names li').removeClass('selected')
            $(this).addClass('selected')
            var i = $('.partnet-names li').index(this)
            $('.partnet-descs li').removeClass('selected')
            $('.partnet-descs li').eq(i).addClass('selected')
          })
        </script>
      </div>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/foot') %>
</body>
</html>
