<%- partial('_partial/head') %>
<body>
  <div class="container page-product">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="banner-wrapper-product"></div>
    <div class="wrapper">
      <div class="section text">
        <div class="row">
          <div class="col6" style="text-align: center">
            <img style="width: 70%" src="/css/images/pic-huisuo.png">
          </div>
          <div class="col6">
            <div style="padding: 50px 0 0 20px;">
              <h3>总览介绍</h3>
              <p>国仁医学健康中心是一家限量会员制管理机构，能够充分保障您的健康私密性与便利性。专属私人健康顾问全方位保障您与家人的身心健康。APP软件让您随时与医生沟通，时刻做好准备应对突发状况。绿色就医通道可以快速方便地找到各大医院专家，帮您省去排队挂号的烦恼。面对不同的需求，我们有贴心的陪诊服务供您选择。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fiveAdvantage">
      <div class="wrapper text">
        <h3>五大优势</h3>
        <ul>
          <li>
            <img src="/css/images/method.svg">
            <h4>科学管理方法,体现连续性慢病管理</h4>
            <p><b>肿瘤/心脑血管健康/ 中医中药/基因检测/生殖健康/个体化的精准医疗诊断</b><br>
国仁的科学健康管理以人为本，实现以现代健康概念与中医 “治未病”思想为指导的管理理念，根据您的健康状况提出个体化的精准医疗。对影响健康的危险因素进行全面连续的检测、采集、评估和干预，体现出健康管理的连续性、个体化的全人、全程、全方位的健康服务。</p>
          </li>
          <li>
            <img src="/css/images/doctor.svg">
            <h4>北京三甲医院顶级专家</h4>
            <p>在国仁医学健康中心，我们301总医院、阜外医院、空军总院等知名医院与中国医促会医学数据与计量分会进行合作，为您开设有专家诊室，每天会安排各科专家进行坐诊，包括各大内科专家、中医科专家、心理专家等，满足您的就诊需求。针对不同的人群，国仁医学健康中心可为您预约有意向的专家进行坐诊服务。</p>
          </li>
          <li>
            <img src="/css/images/clothes.svg">
            <h4>私人健康顾问</h4>
            <p>国仁医学健康中心会给每位会员安排一个专属健康顾问，您也可以进行自主选择。健康顾问负责您的日常健康咨询，是您的专属健康联络人，有健康问题随时沟通，一对一进行健康服务。力求迅速、精准地解决您的健康的问题，避免盲目就医。</p>
          </li>
          <li>
            <img src="/css/images/rocket.svg">
            <h4>就医绿色通道</h4>
            <p>国仁医学健康中心与北京上海广州等各大三甲医院建立合作关系，为客户开通绿色就医通道，为您快速方便地找到各大医院专家，帮您省去排队挂号的烦恼。面对不同的需求，我们还有贴心的陪诊服务供您选择。</p>
          </li>
          <li>
            <img src="/css/images/sick.svg">
            <h4>会员制管理</h4>
            <p>国仁医学健康中心的服务实行会员制，通过缴纳会员年费，成为会员，以此保证您健康管理的私密性与便利性，提升您的管理体验。</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper location text">
      <div class="row">
        <div class="col6">
          <div style="padding-top: 50px">
          <h3>地址</h3>
          <p>国仁医学健康中心位于北京市海淀区西四环北路63号馨雅大厦</p>
          </div>
        </div>
        <div class="col6">
          <img style="width: 70%" src="/css/images/location.png">
        </div>
      </div>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/foot') %>
</body>
</html>
