<%- partial('_partial/head') %>
<body>
  <div class="container page-psychology">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="banner-wrapper-psychology"></div>
    <div class="wrapper">
      <div class="section">
        <div class="row text">
          <div class="col6" style="text-align: center">
            <img style="width: 60%" src="/css/images/pic-psy1.jpg">
          </div>
          <div class="col6">
            <div style="padding: 0 60px 0 0">
              <h3>全生命周期心理健康管理</h3>
              <p>国仁心理咨询室位于北京市海淀区西四环北路63号，隶属于国仁医疗科技有限公司。这里环境私密安静，是进行心理咨询的理想场所。国仁心理咨询师来自各大院校，从事心理咨询多年，经验丰富并在业界内广为称赞。结合各自独特的咨询技术和专业方向，使咨询室拥有多元化、多技能，现面向各个阶层、全年龄段人群，通过线下一对一谈话交流、或线上数字化应用如可穿戴设备、APP等模式实现全生命周期心理支持，力求打造亲切、专业、全面、终身的品牌形象。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-bg">
      <div class="wrapper text">
        <h3>个人心理咨询</h3>
        <p>不论是情绪压力、亲密关系、婚恋家庭、亲子教育还是个人成长问题，国仁心理咨询室都会为您提供个人化专业定制服务。在这里，我们不聊弗洛伊德，荣格，也不会对您轻易下结论，我们在意的是您的感觉，努力去理解您，懂您，靠近您，而不是控制您、评价您、规划您；在这里，您可以倾诉心底的秘密，畅谈未来的理想，寻求内心的平静，发现更好的自己。</p>
        <div class="row personal-help">
          <div class="col3">
            <i class="iconfont icon-icon125"></i>
            <h4>儿童</h4>
            <p>
            情绪咨询
            行为咨询 <br>
            品行咨询
            发展咨询 <br>
            </p>
          </div>
          <div class="col3">
            <i class="iconfont icon-qingshaonian"></i>
            <h4>青少年</h4>
            <p>
            学业咨询
            情绪咨询 <br>
            行为咨询
            关系咨询 <br>
            </p>
          </div>
          <div class="col3">
            <i class="iconfont icon-yqf-qingnian"></i>
            <h4>中青年</h4>
            <p>
            婚姻咨询
            工作咨询 <br>
            情绪咨询
            其他咨询 <br>
            </p>
          </div>
          <div class="col3">
            <i class="iconfont icon-laonian"></i>
            <h4>老年</h4>
            <p>
            情绪咨询
            行为咨询 <br>
            其他咨询
            </p>  
          </div>
        </div>
      </div>
    </div>
    <div class="section wrapper text team-help">
      <div class="row">
        <div class="col6">
          <h3>团体心理咨询</h3>
          <div class="col6">
            <b>发展性团体咨询</b>
            <p>人际关系团体、父母成长课堂</p>
          </div>
          <div class="col6">
            <b>职业咨询团体</b>
            <p>管理凝聚、职业规划、职场解压</p>
          </div>
          <div class="col6">
            <b>咨询性团体咨询</b>
            <p>注意力、领导力、创造力、行为治疗</p>
          </div>
          <div class="col6">
            <b>治疗性团体咨询</b>
            <p>行为矫正、特殊人群、障碍、康复性团体</p>
          </div>
        </div>
        <div class="col6" style="text-align: center">
          <img style="width: 60%" src="/css/images/pic-psy2.jpg">
        </div>
      </div>
    </div>
    <div class="section section-bg">
      <div class="wrapper text">
        <h3>心理咨询室企业EAP咨询</h3>
        <p>帮助高层管理人员、人力资源总监、经理或主管在企业内实施EAP雇员帮助计划，协助企业了解雇员的职业心态、职业压力，挖掘员工潜能。国仁心理咨询室将根据企业和社会具体情况，遵循企业的模式与发展道路，贴近企业的需求制定雇员协助计划协助，使企业实现不断可持续发展。通过到咨询室咨询或上门为企业进行员工培训等方式，使企业或组织拥有更加健康的工作环境，进一步提升企业工作效率和员工士气。</p>
      </div>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/foot') %>
  </div>
</body>
</html>
