<div id="global-header" class="header">
  <div class="wrapper">
    <a class="logo" href="/"></a>
    <ul>
      <li class="select"><a href="/">首页</a></li>
      <li><a href="/about">关于国仁</a></li>
      <li>
        <a>项目展示</a>
        <ul>
          <li><a href="/product">健康中心</a></li>
          <li><a href="/product/lifebox/">健康保险箱</a></li>
          <li><a href="/product/psychology/">国仁心理</a></li>
          <li><a href="/product/application/">APP下载</a></li>
        </ul>
      </li>
      <li><a href="/partner">合作单位</a></li>
      <li><a href="/contact">联系我们</a></li>
    </ul>
  </div>
</div>

<script>
window.onscroll = function () {
  var header = $('#global-header')
  if(window.pageYOffset === 0) {
    header.removeClass('header-short')
  }
  if(window.pageYOffset > 0) {
    !header.hasClass('header-short') ? header.addClass('header-short') : null
  }
}
</script>
