<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <script src="//cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
  <%- css('css/style') %>
</head>
