<div class="header header-global">
  <div class="wrapper">
    <a class="logo" href="/"></a>

    <ul>
      <% for (var i in theme.menu){ %>
        <% if (is_current(theme.menu[i] + '/index.html')) { %>
        <li class="select"><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } else { %>
        <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
      <% } %>
    </ul>
  </div>
</div>
