<div id="global-header" class="header">
  <div class="wrapper">
    <a class="logo" href="/">
      <img src="/css/images/logo.png" style="width: 150px" alt="国仁医疗">
    </a>
    <ul>
      <li class="select"><a href="/">首页</a></li>
      <li><a href="/about" target="_blank">关于国仁</a></li>
      <li><a href="/project" target="_blank">项目展示</a></li>
      <li><a href="/partner" target="_blank">合作单位</a></li>
      <li><a href="/contact" target="_blank">联系我们<span id="inspector"></span></a></li>
    </ul>
  </div>
</div>

<script>
window.onscroll = function () {
  var header = $('#global-header')
  if(window.pageYOffset === 0) {
    header.removeClass('header-short')
  }
  if(window.pageYOffset > 0) {
    !header.hasClass('header-short') ? header.addClass('header-short') : null
  }
}
</script>
