<div class="header">
  <a href="/">
    <img src="/css/images/logo.png" style="width: 130px" alt="国仁医疗">
  </a>
  <ul>
    <li><a href="/">首页</a></li>
    <li><a href="/aboutUs">关于国仁</a></li>
  </ul>
</div>
