@font-face
  font-family: "iconfont"
  src: url('font/iconfont.eot?t=1487860898170') /* IE9*/
  src: url('font/iconfont.eot?t=1487860898170#iefix') format('embedded-opentype'),url('font/iconfont.woff?t=1487860898170') format('woff'),url('font/iconfont.ttf?t=1487860898170') format('truetype'),url('font/iconfont.svg?t=1487860898170#iconfont') format('svg') /* iOS 4.1- */

.iconfont 
  font-family:"iconfont" !important
  font-size:16px
  font-style:normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-qingshaonian:before 
  content: "\e61c"

.icon-icon125:before 
  content: "\e67a"

.icon-yqf-qingnian:before 
  content: "\e723"

.icon-laonian:before 
  content: "\e8e9"

