@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

*
  box-sizing: border-box
  &:before
  &:after
    box-sizing: border-box


html, body
  height: 100%

body
  background: color-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  color: #55443d

.container
  position: relative

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

.row
  row()

.col1
  column(1)
.col2
  column(2)
.col3
  column(3)
.col4
  column(4)
.col5
  column(5)
.col6
  column(6)
.col7
  column(7)
.col8
  column(8)
.col9
  column(9)
.col10
  column(10)
.col11
  column(11)
.col12
  column(12)

.btn
  display: inline-block
  padding: 10px 12px
  margin-bottom: 0
  font-size: 16px
  font-weight: 400
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  touch-action: manipulation
  cursor: pointer
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: 4px

.btn-default
  &:hover
    background-color: #dadada
  color: #333
  background-color: #fff
  border-color: #ccc

.btn-red
  &:hover
    color: #dadada
    background-color: #c71723
  color: #fff
  background-color: #e71a28
  border-color: #d43f3a

.wrapper
  margin: 0 auto
  width: 1200px
  clearfix()

.header
  .logo
    position: relative
    top: 15px
    display: inline-block
    width: 150px
    height: 39px
    background-image: url('/css/images/logo.png')
    background-size: 150px 78px
    background-position: 0 0
    background-repeat: no-repeat
  width: 100%
  position: fixed
  z-index: 1
  border-bottom: 1px solid transparent
  ul
    float: right
    li
      float: left
    a
      display: inline-block
      padding: 20px
      font-size: 18px
      color: #fff
      text-decoration:none
      &:hover
        color: #c82c39
        background-color:rgba(255, 255, 255, 0.1)
    li.select
      a
        color: #c82c39
        background-color:rgba(255, 255, 255, 0.1)
        border-bottom: 2px solid #e71a28
        margin-bottom: -1px

.header-short
  animation: colorchange
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-bottom: 1px solid #ccc
  .logo
    background-position: 0 -39px
  ul
    a
      color: #000

@keyframes colorchange
  from {background-color:rgba(0,0,0,0);}
  to {background-color:rgba(255,255,255,1);}

.header-global 
  position: relative
  background-color: #fff
  .logo
    background-position: 0 -39px
  ul
    a
      color: #000

.section2
  padding: 80px 0
  text-align: center
  .three-data
    clearfix()
    li
      float: left
      width: 33.3%
      text-align: center
    img
      width: 70px
    .num
      padding-top: 20px
      font-size: 36px
    .name
      font-weight: bold
  .slogen
    font-size: 30px
    padding-top: 80px
  .sub-slogen
    font-size: 20px
  .btn-wrap
    padding-top: 30px
    .btn
      margin: 0 10px
      width: 175px

.section3
  text-align: center
  background-image: url('/css/images/banner-center.jpg')
  background-repeat: no-repeat
  background-position: center center
  height: 496px
  p
    color: #fff
    font-size: 36px
    padding: 190px 0 30px 0
  .btn
    width: 175px

.section4
  clearfix()
  padding: 80px 0
  text-align: center

  h3
    display: inline-block
    font-size: 30px
    border-bottom: 2px solid #e71a28
    position: relative
    margin-bottom: 40px
  li
    float: left
    width: 33.3%
    text-align: center
    img
      width: 360px
    p
      padding-top: 8px
      font-size: 18px

.section5
  padding: 80px 0
  background-color: #f5f5f5
  h3
    display: inline-block
    font-size: 30px
    border-bottom: 2px solid #e71a28
    position: relative
    margin-bottom: 40px
  li
    padding: 0 0 60px 10px
    font-size: 20px
    width: 90%
    position: relative
    &::after
      content: ''
      width: 8px
      height: 8px
      background-color: #807673
      border-radius: 4px
      position: absolute
      top: 10px
      left: 0
.choose-area
  float: left
  width: 550px
  position: relative
.threestages
  padding-left: 100px
  img
    width: 550px
.footer
  background-color: #0d2937
  padding: 50px 0
  color: #a8a8aa
  p
    padding-top: 25px
  ul
    float: right
    li
      float: left
      a
        color: #a8a8aa
        padding: 0 10px
        text-decoration:none

.banner-wrapper
  background-image: url('/css/images/banner-top.jpg')
  background-repeat: no-repeat
  background-position: center center
  height: 300px
  > .wrapper 
    position: relative
    .caption
      position: absolute
      left: 0
      top: 240px
      color: #fff
    h3
      font-size: 36px
      display: inline-block
      position: relative
      padding-right: 20px
      &::after
        content: ''
        border-right: 2px solid #e71a28
        padding-left: 20px
    span
      font-size: 24px

.banner-wrapper-product   
  background-image: url('/css/images/banner-product.jpg')
  background-repeat: no-repeat
  background-position: center center
  height: 418px

.page-about
  .contact-section
    background-color: #f5f5f5
  .platform
    padding: 70px 0
  .btn-wrap
    padding-top: 20px

.text 
  h3
    font-size: 28px
    padding-bottom: 20px
  p 
    line-height: 1.8

.page-product
  .section
    padding: 70px 0
  .fiveAdvantage
    padding: 70px 0;
    background-color: #f5f5f5
    li
      width: 50%
      float: left
      position: relative
      padding: 0 65px 0 65px
      height: 200px
      h4
        font-size: 20px
        padding-bottom: 5px
      img
        width: 50px
        position: absolute
        top: 0
        left: 0
  .location
    padding:70px 0

