@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

html, body
  height: 100%

body
  background: color-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%

.container
  position: relative
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both
